*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  background-color: #ffeecc;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.logo {
  background-color: #3399ff;
}
.nav li{
  background-color: #595959;
  list-style: none;
  padding: auto auto;
  text-align: center;
  color: #ffeecc;
}
ul {
  margin: 0;
  padding: 0;
}
.circle {
  background-color: #ff8080;
}
.box {
  background-color: #3399ff;
}
.pro-photo {
  background-color: #4dff88;
}
@media only screen and (min-width: 400px) {
  .container {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
    height: 30px;
  }

  .nav {
    width: 100%;
    margin: 10px 0 0 0;
    /*border: 1px solid magenta;*/
    overflow: auto;
  }

  .nav li {
    padding: 10px;
    width: 33%;
    height: 35px;
    margin: 0 0 0 0 ;
    display: inline;
    float: left;
  }

  .header {
    margin: 20px 0 0 0;
    color: #ff8080;
  }
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px auto;
  }
  .box {
    width: 100%;
    height: 200px;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
    padding: 10px;
    margin: 0 auto;
  }
  .logo {
    float: left;
  }
  .nav {
    width: 400px;
    float: right;
    margin: 0;
    padding: 0;
    /*border: 1px solid orange;*/
  }
  .nav li {
    width: 16.66666666667%;
    float: left;
    margin: 0;

  }
  .header {
    width: 100%;
    margin: 60px auto 40px auto;
  }
  .header-text {
    float: left;
    width: 400px;
  }
  .circle {
    float: right;
    margin: 0 30px 0 0;
    /*display: inline;*/
  }
  .media {
    width: 800px;
    margin: 300px 0 0 0;
    /*border: 1px solid magenta;*/
    overflow: auto;
  }
  .box {
    width: 240px;
    height: 130px;
    margin: 0 25px 0 0;
    float: left;
  }
  #box3 {
    margin: 0 0 0 0;
  }
  .articles {
    width: 48%;
    float: left;
    padding: 0 10px 0 30px;
    color: #595959;
  }
  .profiles {
    width: 48%;
    float: right;
    padding: 0 30px 0 10px;
    color: #595959;
  }
  p {
    font-size: 14px;
    margin: 6px 0 12px 0;
  }
  h3 {
    margin: 25px 0 0 0;
    padding: 0;
  }
  .pro-photo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 60px 0;
  }
  .pro-photo h3 p{
    float: left;
  }
}

@media only screen and (min-width: 1200px) {

}
